---
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments:
  Enabled: true
  AlignCompound: true

AlignConsecutiveBitFields:
  PadOperators: true
  Enabled: true
AlignConsecutiveMacros:
  Enabled: true
  PadOperators: true
AlignEscapedNewlines: Right
AlignTrailingComments:
  Kind: Always
  OverEmptyLines: 4
AlwaysBreakTemplateDeclarations: Yes
AllowShortBlocksOnASingleLine : Always
AllowShortIfStatementsOnASingleLine : Always
AllowShortLambdasOnASingleLine : All
IndentWidth: 4 
IndentExternBlock : NoIndent
IndentPPDirectives: BeforeHash
IndentCaseLabels: false
IndentCaseBlocks: false
IncludeBlocks: Preserve
EmptyLineBeforeAccessModifier: LogicalBlock
EmptyLineAfterAccessModifier: Never
BreakBeforeTernaryOperators: true
BreakBeforeBraces: Custom 
BraceWrapping:
  IndentBraces: false
  BeforeWhile: true
  BeforeLambdaBody: false #for one line lambda
  BeforeElse: true
  BeforeCatch: true
  AfterExternBlock: true
  AfterUnion: true
  AfterNamespace: true
  AfterFunction: true
  AfterEnum: true
  AfterControlStatement: Always
  AfterClass: false
  AfterStruct: true
  AfterCaseLabel: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
PointerAlignment: Left
QualifierAlignment: Left
ReferenceAlignment: Left
RequiresClausePosition: WithPreceding
SeparateDefinitionBlocks: Always 
SortIncludes: Never
SortUsingDeclarations: LexicographicNumeric
SpaceAroundPointerQualifiers: Before
SpaceInEmptyBlock: true
SpacesBeforeTrailingComments: 4
SpacesInAngles: Never
SpacesInContainerLiterals: true
Cpp11BracedListStyle : false
MaxEmptyLinesToKeep : 1
ColumnLimit: 0
TabWidth: 4
UseTab: Always
SpaceBeforeCpp11BracedList: false
BreakAfterReturnType : All
#AlignArrayOfStructures: Left
PenaltyReturnTypeOnItsOwnLine: 1000
BreakBeforeBinaryOperators: NonAssignment 

AlignOperands: AlignAfterOperator

AlignConsecutiveDeclarations:
  Enabled: true
  PadOperators: true
  AlignFunctionPointers: true
  AlignFunctionDeclarations: false
  AlignCompound: true

AllowShortNamespacesOnASingleLine: true
NamespaceIndentation : All

KeepEmptyLines:
  AtEndOfFile: false
  AtStartOfBlock: false
  AtStartOfFile: false

IndentWrappedFunctionNames: false

AttributeMacros: ['FORCE_INLINE', 'no_unique_addr', 'INLINE_LAMBDA_FRONT', 'INLINE_LAMBDA_BACK']
ForEachMacros: [FOR_EACH]
# Macros:
#   - AGE_LAMBDA(arg_tpl, body)=[&] INLINE_LAMBDA_FRONT arg_tpl noexcept INLINE_LAMBDA_BACK -> decltype(auto) { body }